/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/*
Modular Scale
https://www.modularscale.com/?18&px&1.5
Ratio 2:3 or 1.5
*/

/*
To do:
---------
change online media to something friendler

*/

/* Begin site styles below */

html {
  background: #DDD;
  color: #222;
  font-size: 1.125em; /* 18 / 16 = 1.125 */
  line-height: 1.3333333333em; /* 24/18 = 1.3333333333 */
  font-family: Georgia, "Times New Roman", Times, Roman, serif;
  padding: 0.833333333em; /* 15 / 18 = 0.833333333 */
}

h1 {
  font-size: 3.375em; /* 60.75 / 18 = 3.375 */
  line-height: 1.185185185em; /* 72 / 60.75 = 1.185185185 */
  padding-left: 0.065843621em; /* 4 / 60.75 = 0.065843621 */
}
h2 {
  font-size: 2.25em; /* 40.5 / 18 = 2.25 */
  line-height: 1.185185185em; /* 48 / 40.5 = 1.185185185 */
  padding-left: 0.098765432em; /* 4 / 40.5 = 0.098765432 */
}
h3 {
  font-size: 1.5em; /* 27 / 18 = 1.5 */
  line-height: 1.333333333em; /* 36 / 27 = 1.333333333 */
  padding-left: 0.148148148em; /* 4 / 27 = 0.148148148 */
}
#content img {
  display: block;
  max-width: 100%;
}
#resume ul,
#footer ul,
#hobbies ul ul {
  list-style: square inside;
  padding-left: 1.25em; /* 22.5 / 18 = 1.25 */
}

section {
  padding-top: 0.666666667em; /* 12 / 18 = 0.666666667 */
  padding-bottom: 0.666666667em; /* 12 / 18 = 0.666666667 */
}


#footer a {
  text-decoration: none;
}


#navigation li {
  background-color: #222;
}
#navigation a {
  color: #CCC;
  display: block;
  line-height: 0;
  padding: 1.333333333em; /* 24 / 18 = 1.333333333 */
  text-decoration: none;
}

/*
  Removed Elements
*/
#content-resume h1 {
  position: absolute;
  left: -1111.111111111; /* -20000 / 18 = -1111.111111111 */
}

/* 1000 / 16 = 62.5 */
@media screen and (min-width: 62.5em) {
  .main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.111111111em; /* 20 / 18 = 1.111111111 */
  }
}

#navigation a:hover,
#navigation a:active,
#navigation a:focus {
  background-color: #444;
}
